.header {
  box-shadow: 0 1px 5px #0000001a;
  padding: 15px 35px;
  background-color: white;
  color: black;

  .first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }

  .logo {
    // min-width: 300px;
    // flex-grow: 1;
    flex: 1;
    text-align: center;
  }

  .search-bar {
    flex: 1;
    margin-top: 16px;
    display: flex;
    justify-content: center;

    .example-full-width {
      width: 80%;
    }
  }

  .icons {
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: end;

    .icon {
      cursor: pointer;
      transition: all 0.25s ease;
      height: 28px;
      width: 28px;
      font-size: 28px;

      &:hover {
        color: #56cfe1;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: center;

    .menu-items {
      display: flex;
      justify-content: space-around;
      gap: 40px;
      align-items: center;
    }

    .item {
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover {
        color: #56cfe1;
      }
    }
  }
}

.example-full-width {
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom: none;
  }

  ::ng-deep .mdc-line-ripple--active {
    display: none;
  }

  ::ng-deep .mdc-text-field--filled {
    border-radius: 4px !important;
  }
}
