<div class="header">
  <div class="first-row">
    <div class="logo">
      <!-- <img src="../../../assets/logo/logo.png" width="50px" height="50px" /> -->
      <!-- <img
        src="../../../assets/logo/DistinguishedGentleman.png"
        width="50px"
        height="50px"
      /> -->
    </div>
    <div class="search-bar">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Search for cars"
          aria-label="Search for cars"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of options; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="icons">
      <mat-icon class="icon material-symbols-outlined">person</mat-icon>
      <!-- <mat-icon
        class="icon material-symbols-outlined"
        matBadge="0"
        matBadgeColor="warn"
        >favorite</mat-icon
      >
      <mat-icon
        class="icon material-symbols-outlined"
        matBadge="0"
        matBadgeColor="warn"
        >shopping_cart</mat-icon
      > -->
    </div>
  </div>
  <div class="menu">
    <div class="menu-items">
      <span class="item">Home</span>
      <span class="item">New Cars</span>
      <span class="item">Buy & Sell Cars</span>
      <span class="item">News, Reviews & Videos</span>
      <span class="item">Car Services</span>
    </div>
  </div>
</div>
