.container {
    display: flex;
    gap: 30px;
    padding: 30px 100px;
}

.loader {
    height: 74vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter {
    position: sticky;
    flex: 1;

    .sticky {
        position: sticky;
        top: 10px;
    }
}

.list-container {
    display: flex;
    flex: 4;
    gap: 30px;
    align-items: baseline;
    flex-wrap: wrap;

    .car-card {
        flex: 1;
    }
}